@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  --color-bg:  linear-gradient(243.18deg, rgba(0, 0, 0, 0.5) 24.95%, rgba(124, 45, 1, 0.5) 92.47%), #7C8F74;;
  --color-bg-variant : #F8F8F8;
  --color-primary: #904F17;
  --color-secondary:#687A62;
  --color-dark:#000000;
  --container-bg:#fff;
  --container-width-lg:50%;
  --container-width-md:86%;
  --container-width-ms:90%;

  --padding-btw-section:5rem;
}


body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  overflow-x: hidden;
  color: var(--color-white);
}



section{
  margin-top: 8rem;
  height: 100vh;
}

.container{
  max-width: 390px;
  min-height: 400px;
  background-color: var(--container-bg);
  margin: 0 auto;
  padding: 0.2rem;
  box-shadow: 0px 2px 19px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.label-form{
  float: left;
}

.titre{
  margin-top: 1rem;
}

.titre h1{
  font-size: 30px;
  font-weight: bold;
}

.button-form{
  background-color: var(--color-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
